<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- CupMapper.java -->
<mapper namespace="org.hedspi.coffeeshop.mapper.CupMapper">

	<insert id="insert">
		INSERT INTO
		cups(orders_id,coffees_id,condiments,size,price)
		VALUES( #{orderId},
		#{coffeeId}, #{condiments}, #{size}, #{price})
	</insert>
	<select id="selectByOrderId" parameterType="int" resultType="map">
		SELECT
		co.name, c.size, c.condiments, c.price
		FROM cups c, coffees co
		WHERE orders_id = #{orderId} and c.coffees_id = co.coffees_id
	</select>
	<select id="selectCoffeeCorrelate" resultType="map">
		SELECT
		co.name as
		label, count(co.name) as data
		FROM
		coffees as co, cups as cu
		WHERE
		co.coffees_id = cu.coffees_id
		GROUP BY
		(co.name)
	</select>

</mapper>