<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- EventMapper.java -->
<mapper namespace="org.hedspi.coffeeshop.mapper.EventMapper">

	<!-- define shortcut -->
	<resultMap type="org.hedspi.coffeeshop.domain.model.Event"
		id="Event">
		<id property="id" column="events_id" />
		<result property="title" column="title" />
		<result property="start" column="time_start" />
		<result property="end" column="time_end" />
		<result property="color" column="color" />
	</resultMap>

	<!-- define query sql, id is method's name in Mapper Interface class -->
	<select id="selectAll" resultMap="Event">
		SELECT *
		FROM events
	</select>
	<insert id="insert" parameterType="org.hedspi.coffeeshop.domain.model.Event"
		useGeneratedKeys="true" keyProperty="id" keyColumn="events_id">
		INSERT INTO
		events(title,color,time_start,time_end)
		VALUES(#{title},#{color},#{start},#{end})
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM events
		WHERE
		events_id = #{id}
	</delete>
	<update id="update" parameterType="org.hedspi.coffeeshop.domain.model.Event">
		UPDATE events
		SET
		title =
		#{title},
		time_start = #{start},
		time_end = #{end},
		color = #{color}
		WHERE
		events_id = #{id}
	</update>
</mapper>